* {
    margin: 0;
    padding: 0;
}

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: red;
}

.menu {
    width: 200px;
    float: left;
}

.menu ul {
    background: #8ad385;
    width: 200px;
    padding: 0;
    list-style: none;
}

.menu ul li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid white;
}

.menu ul li a {
    text-decoration: none;
}

.image {
    float: left;
    width: 300px;
}

.text {
    float: left;
    width: 700px;
}